.keyForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
/* Crate a media query with 200 px*/
@media (max-width: 550px) {
    .keyForm {
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
}
.form-group {
}
.form-control {
}
.KeyFormSelect {
}